<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Tools - Upload</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js" defer></script>
</head>
<body>
    <header>
        <h1>PDF Tools</h1>
    </header>
    <main>
        <div class="form-upload">
            <form id="uploadForm" action="/upload-pdf" method="post" enctype="multipart/form-data">
                <input type="file" name="file" required>
                <button type="submit" class="button button-upload">Upload PDF</button>
            </form>
        </div>
        <div class="progress-bar" id="progressBar" style="display:none;">
            <div class="progress" style="width: 0%;">0%</div>
        </div>
        <div class="message" id="resultMessage" style="display:none;"></div>
    </main>
</body>
</html>